<h1>Cart</h1>
<h2>Your current order</h2>
<hr />
<table id="cartListTable">
  <tr>
    <th>Method</th>
    <th>Protocol</th>
    <th>URL</th>
    <th>State</th>
    <th>Details</th>
  </tr>
  <tr id="noCartMessage">
    <td colspan="5">You have no items in the cart!</td>
  </tr>

</table>

<div id="deleteCartCTA" class="ctaWrapper">
  <a class="cta green" href="cart/delete">Delete Cart</a>
</div>

<div id="main">
  <div id="checkout">
    <div id="payment-request">
      <div id="payment-request-button"></div>
    </div>
    <form id="payment-form" method="POST" action="/orders">
      <p class="instruction">Complete your payment details below</p>
      <section>
        <h2>Payment Information</h2>
        <nav id="payment-methods">
          <ul>
            <li>
              <input type="radio" name="payment" id="payment-card" value="card" checked>
              <label for="payment-card">Card</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-ach_credit_transfer" value="ach_credit_transfer" checked>
              <label for="payment-ach_credit_transfer">Bank Transfer</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-alipay" value="alipay">
              <label for="payment-alipay">Alipay</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-bancontact" value="bancontact">
              <label for="payment-bancontact">Bancontact</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-eps" value="eps">
              <label for="payment-eps">EPS</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-ideal" value="ideal">
              <label for="payment-ideal">iDEAL</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-giropay" value="giropay">
              <label for="payment-giropay">Giropay</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-multibanco" value="multibanco">
              <label for="payment-multibanco">Multibanco</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-sepa_debit" value="sepa_debit">
              <label for="payment-sepa_debit">SEPA Direct Debit</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-sofort" value="sofort">
              <label for="payment-sofort">SOFORT</label>
            </li>
            <li>
              <input type="radio" name="payment" id="payment-wechat" value="wechat">
              <label for="payment-wechat">WeChat Pay</label>
            </li>
          </ul>
        </nav>
        <div class="payment-info card visible">
          <fieldset>
            <label>
              <span>Card</span>
              <div id="card-element" class="field"></div>
            </label>
          </fieldset>
        </div>
        <div class="payment-info sepa_debit">
          <fieldset>
            <label>
              <span>IBAN</span>
              <div id="iban-element" class="field"></div>
            </label>
          </fieldset>
          <p class="notice">By providing your IBAN and confirming this payment, you’re authorizing Payments Demo and Stripe, our payment
            provider, to send instructions to your bank to debit your account. You’re entitled to a refund under the terms
            and conditions of your agreement with your bank.</p>
        </div>
        <div class="payment-info ideal">
          <fieldset>
            <label>
              <span>iDEAL Bank</span>
              <div id="ideal-bank-element" class="field"></div>
            </label>
          </fieldset>
        </div>
        <div class="payment-info redirect">
          <p class="notice">You’ll be redirected to the banking site to complete your payment.</p>
        </div>
        <div class="payment-info receiver">
          <p class="notice">Payment information will be provided after you place the order.</p>
        </div>
        <div class="payment-info wechat">
          <div id="wechat-qrcode"></div>
          <p class="notice">Click the button below to generate a QR code for WeChat.</p>
        </div>
      </section>
      <button type="submit">Pay</button>
    </form>
    <div id="card-errors" class="element-errors"></div>
    <div id="iban-errors" class="element-errors"></div>
  </div>
  <div id="confirmation">
    <div class="status processing">
      <h1>Completing your order…</h1>
      <p>We’re just waiting for the confirmation from your bank… This might take a moment but feel free to close this page.</p>
      <p>We’ll send your receipt via email shortly.</p>
    </div>
    <div class="status success">
      <h1>Thanks for your order!</h1>
      <p>Woot! You successfully made a payment with Stripe.</p>
      <p class="note">We just sent your receipt to your email address, and your items will be on their way shortly.</p>
    </div>
    <div class="status receiver">
      <h1>Thanks! One last step!</h1>
      <p>Please make a payment using the details below to complete your order.</p>
      <div class="info"></div>
    </div>
    <div class="status error">
      <h1>Oops, payment failed.</h1>
      <p>It looks like your order could not be paid at this time. Please try again or select a different payment option.</p>
      <p class="error-message"></p>
    </div>
  </div>
</div>
<div id="summary">
  <header>
    <h1>Order Summary</h1>
  </header>
  <div id="order-items"></div>
  <div id="order-total">
    <div class="line-item subtotal">
      <p class="label">Subtotal</p>
      <p class="price" data-subtotal></p>
    </div>
    <div class="line-item shipping">
      <p class="label">Shipping</p>
      <p class="price">Free</p>
    </div>
    <div class="line-item demo">
      <div id="demo">
        <p class="label">Demo in test mode</p>
        <p class="note">This app is running in test mode. You will
          <em>not</em> be charged.</p>
        <p class="note"> Feel free to test payments using a real card or any
          <a href="https://stripe.com/docs/testing#cards" target="_blank">Stripe test card</a>. Non-card payments will redirect to test pages.
        </p>
        <p class="note">Run this app locally in live mode with your Stripe account to create real payments and see redirects to banking
          sites.
        </p>
      </div>
    </div>
    <div class="line-item total">
      <p class="label">Total</p>
      <p class="price" data-total></p>
    </div>
  </div>
</div>