<div>
    <div id="summary">
        <header>
          <h1>Cart Summary</h1>
        </header>
        <div id="order-items"></div>
        <div id="order-total">
          <div class="line-item subtotal">
            <p class="label">Subtotal</p>
            <p class="price" data-subtotal></p>
          </div>
          <div class="line-item demo">
            <div id="demo">
              <p class="label">Demo in test mode</p>
              <p class="note">This app is running in test mode. You will
                <em>not</em> be charged.</p>
              <p class="note"> Feel free to test payments using a real card or any
                <a href="https://stripe.com/docs/testing#cards" target="_blank">Stripe test card</a>. Non-card payments will redirect to test pages.
              </p>
              <p class="note">Run this app locally in live mode with your Stripe account to create real payments and see redirects to banking
                sites.
              </p>
            </div>
          </div>
          <div class="line-item total">
            <p class="label">Total</p>
            <p class="price" data-total></p>
          </div>
        </div>
      </div>
</div>