<!DOCTYPE html>
<html lang="en">
<head>
    <!-- default tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- meta tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">
    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="UTF-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>
<body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
    <!-- header -->
    <div class="header">
        <!-- logo -->
        <a class="logo" href="/">
            <img src="public/logo.png" alt="Logo"/>
        </a>
        <!-- Navigation -->
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a class="loggedOut" href="/account/create">Signup</a>
            </li>
            <li>
                <a class="loggedOut" href="/session/create">Login</a>
            </li>
            <li>
               <a class="loggedIn" href="/check/all">Dashboard</a>
            </li>
            <li>
                <a class="loggedIn"  href="/account/edit">Account Settings</a>
            </li>
            <li>
                <a class="loggedIn"  href="/">Logout</a>
            </li>                                            
        </ul>
    </div>
    <div class="content">
